/* 
nav .mencari {
    display: block;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
}

nav ul li a img.cari {
    width: 90%;
    margin-left: -10px;
    position: absolute;
    z-index: 9999;
}

nav .mencari:target {
    bottom: 0;
    right: 0;
}

nav .mencari input {
    position: absolute;
    top: 39px;
    left: 69%;
    border: none;
    padding: 5px;
    border-radius: 10px;
} */


/* Gallery Slide Animasi Manual Pake CSS*/

header button {
    position: fixed;
    bottom: 10%;
    right: 0;
    width: 60px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    z-index: 999;
    background: linear-gradient(289deg, #58e5a9 0, #77eded 100%);
    border: none;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    box-shadow: 0 3px 6px #00000029;
}

header button i {
    font-size: 30px !important;
}

header,
section.caraosel_manual {
    overflow-x: hidden;
    overflow-y: hidden;
}

div.slideshow {
    height: 93vh;
    animation: slide 40s infinite;
    white-space: nowrap;
    position: relative;
}

.slide img {
    width: 100%;
}

.slide {
    min-width: 100%;
    margin: -2px;
    display: inline-block;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    8% {
        transform: translateX(0);
    }
    16% {
        transform: translateX(-100%);
    }
    24% {
        transform: translateX(-100%);
    }
    32% {
        transform: translateX(-200%);
    }
    40% {
        transform: translateX(-200%);
    }
    48% {
        transform: translateX(-300%);
    }
    56% {
        transform: translateX(-300%);
    }
    64% {
        transform: translateX(-400%);
    }
    72% {
        transform: translateX(-400%);
    }
    80% {
        transform: translateX(-500%);
    }
    88% {
        transform: translateX(-500%);
    }
    96% {
        transform: translateX(-600%);
    }
    100% {
        transform: translateX(-600%);
    }
}

.slide a {
    position: absolute;
    width: 200px;
    padding: 8px 20px;
    height: 42px;
    background: linear-gradient(289deg, #58e5a9 0, #77eded 100%);
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#slide_1 a {
    margin-left: 43%;
    bottom: 43%;
}

#slide_2 a {
    margin-left: 43%;
    bottom: 43%;
}

#slide_3 a {
    margin-left: 43%;
    bottom: 43%;
}

#slide_4 a {
    margin-left: 43%;
    bottom: 43%;
}

#slide_5 a {
    margin-left: 43%;
    bottom: 43%;
}

#slide_6 a {
    margin-left: 43%;
    bottom: 43%;
}

#slide_7 a {
    margin-left: 43%;
    bottom: 43%;
}

.slide span.icon_panah {
    margin-top: 0.2rem;
    margin-left: 0.5rem;
}

.slide .teks {
    cursor: default;
    width: 1000px;
    height: 200px;
    color: #fff;
    position: absolute;
    text-shadow: 0 0 5px rgb(0 0 0 / 75%);
    font-size: 52px;
    white-space: normal;
    text-align: center;
}


/* Teks yang berada didalam slide diatur manual */

.teks.teks_1 {
    margin-left: 17%;
    bottom: 43%;
}

.teks.teks_2 {
    margin-left: 17%;
    bottom: 43%;
}

.teks.teks_3 {
    margin-left: 15%;
    bottom: 33%;
}

.teks.teks_4 {
    margin-left: 18%;
    bottom: 33%;
}


/* Menu 2 untuk slide */

.menu_2 {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid rgba(255, 255, 255, 0.615);
}

.menu_2 a[href $='.slide_2'] {
    transform: translateX(-100%);
}

.menu_2 ul {
    overflow: hidden;
}

.menu_2 ul li {
    display: inline;
    list-style: none;
}

.menu_2 ul li a {
    float: left;
    display: block;
    text-decoration: none;
    position: relative;
    text-align: center;
    padding: 2px 14px;
    color: #fff;
}


/* BAGIAN 1 */

section.bagian_1 {
    margin-top: 20px;
}


/* Story */

.stories {
    margin: 5px 5%;
}

.story {
    width: 80px;
    float: left;
}

.story:not(:first-child) {
    margin-left: 20px;
}

.story img {
    border: 3px solid rgba(230, 99, 0, 0.6);
    border-radius: 50%;
    padding: 1px;
}

.story a {
    text-decoration: none;
    color: black;
}

.story a p {
    margin-left: -5px;
    text-align: center;
    font-size: 11px;
    font-weight: 100;
    line-height: -10px;
}


/* Caraosel */

.caraosel_manual {
    position: relative;
    white-space: nowrap;
    margin-top: 40px;
    height: 480px;
}

.caraosel_manual .card {
    display: inline-block;
}

.caraosel_manual img {
    border-radius: 15px;
    width: 800px;
    height: 400px;
}

.caraosel_manual iframe {
    height: 400px;
    border-radius: 15px;
    width: 800px;
    border: none;
}

.card_besar_1 img {
    margin-left: -450px;
}

.card_besar_2 iframe,
.card_besar_3 img {
    margin-left: 15px;
}

.card_besar_1,
.card_besar_3 {
    filter: opacity(0.2);
}

.caraosel_manual::after {
    content: "";
    display: table;
    clear: both;
}

.caraosel_manual h1 {
    position: absolute;
    bottom: 2px;
    padding-left: 40px;
    font-size: 25px;
    width: 800px;
    white-space: normal;
    text-align: center;
}


/* Bagian 3 */

section.bagian_3 {
    margin: 10px auto;
}

section.bagian_3 h1,
section.bagian_4 h1 {
    margin-bottom: 30px;
}

.destinasi_gallery {
    height: 260px;
    width: 200px;
    float: left;
    margin: 5px;
}

.destinasi_card {
    width: 200px;
    height: 260px;
    overflow: hidden;
    border-radius: 7px;
    position: relative;
}

.destinasi_card:hover img {
    transform: scale(1.2);
}

.destinasi_card img {
    filter: brightness(0.8);
    object-fit: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    transition: transform .5s ease;
}

.destinasi_gallery p {
    color: white;
    position: absolute;
    margin-top: -50px;
    margin-left: 50px;
    font-size: 1.1rem;
    font-weight: 600;
}

.kontak {
    margin-top: 40px;
    width: 100%;
    height: 220px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.kontak_destinasi_tujuan {
    border-radius: 10px;
    position: absolute;
    background-image: url("../image/destinasi_pilihan/kontak.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: transform .5s ease;
    top: 0;
    z-index: -1;
}

.kontak:hover .kontak_destinasi_tujuan {
    transform: scale(1.1);
}

.kontak h1 {
    color: white;
    width: 800px;
    position: absolute;
    left: 280px;
    bottom: 60px;
    text-shadow: -2px 3px 8px rgba(0, 0, 0, 0.4);
}

.kontak .row {
    width: 520px;
    position: absolute;
    left: 280px;
    bottom: 35px;
    display: inline;
}

.email_destinasi .kontak .row input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #bdbdbd;
}

.email_destinasi .kontak .row input[type="email"]:focus {
    outline: 4px solid rgba(70, 70, 254, 0.3);
}

.email_destinasi .kontak input[type="submit"] {
    float: left;
    margin-left: 10px;
    height: 38px;
    position: absolute;
    padding: 5px 30px 8px 30px;
    background-color: #204176;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 1.0rem;
    color: white;
    cursor: pointer;
}

.email_destinasi {
    padding: 0 6px 0 2px;
}


/* BAGIAN 4 */

.bagian_4 .row .col_1 {
    margin-left: 0px;
    float: left;
    width: 60%;
    height: 500px;
    margin-top: 20px;
    background-color: #5c5c5c;
    border-radius: 10px;
}

.bagian_4 iframe {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    resize: both;
}

.bagian_4 .col_2 {
    border-radius: 10px;
    float: left;
    padding-left: 10px;
    width: 35%;
    height: 500px;
    margin-top: 10px;
    background-color: #f5f5f5;
    border: 5px solid #efefef;
    padding: 20px;
    margin-left: 40px;
}

.bagian_4 .row .col_2 h3 {
    color: #142b4f;
    font-size: 1.8rem;
}

.bagian_4 .row .col_2 p {
    font-size: 1rem;
    margin-top: 10px;
}

.bagian_4 .person {
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: 50px !important;
}

.bagian_4 .row .col_2 img {
    border-radius: 50%;
    float: left;
    width: 100px;
}

.bagian_4 .row .col_2 h4 {
    font-size: 1.1rem;
    margin-top: 30px;
    padding-top: 20px;
    width: 120px;
    margin-left: 120px;
    font-weight: 500;
}


/* AKHIR BAGIAN 4 */


/* BAGIAN 5 */

.bagian_5 .column {
    float: left;
    width: 30%;
    height: 450px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 15px;
}

.bagian_5 h1 {
    margin-bottom: 20px;
}

.bagian_5 .column .bungkus_gambar {
    cursor: pointer;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: red;
    background-position: center;
    position: relative;
}

.bungkus_gambar.col_1 {
    background-image: url(../image/panduan_perjalanan/1.webp);
}

.bungkus_gambar.col_2 {
    background-image: url(../image/panduan_perjalanan/2.webp);
}

.bungkus_gambar.col_3 {
    background-image: url(../image/panduan_perjalanan/3.webp);
}

.bagian_5 .column a {
    color: white;
    text-decoration: none;
    text-shadow: -2px 3px 8px rgba(0, 0, 0, 0.3);
    font-size: 1.3rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rebeccapurple; */
}

.bagian_5 .column p {
    padding-top: 10px;
    padding-right: 10px;
    font-size: 0.9rem;
    line-height: 20px;
}


/* AKHIR BAGIAN 5 */