/* DEFAULT CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
    font-size: 2.5rem;
    color: #142b4f;
}

h2 {
    font-weight: 500;
}

body {
    width: 100%;
}

.container {
    /* width: 80%;
    margin: 0px 200px; */
    max-width: 1140px;
    height: auto;
    margin: 40px auto;
    padding: 20px;
}

.garis {
    background-color: #bdbdbd;
    width: 100%;
    height: 1px;
}

.clear {
    content: "";
    display: table;
    clear: both;
}


/*  Navbar CSS */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 200px;
    transition: 0.6s;
    z-index: 999;
}

nav ul {
    overflow: hidden;
    float: right;
}

.logo {
    margin-top: -10px;
}

nav ul li {
    display: inline;
    list-style: none;
}

nav ul li a {
    float: left;
    display: block;
    text-decoration: none;
    position: relative;
    text-align: center;
    padding: 2px 12px;
    color: #fff;
}


/* Saat Di Scroll hanya tambahan saja :D */

nav.sticky {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px 200px 5px 200px;
    color: #fff;
    height: 60px;
    box-shadow: -1px -1px 0px 0px rgba(255, 255, 255, 0.4) inset;
    display: inline;
}

nav.sticky .logo {
    float: left;
    margin-top: -10px;
}


/* FOOTER */

footer {
    background-color: #091426;
    width: 100%;
    padding-top: 10px;
}

footer .column {
    float: left;
    height: 100px;
    margin: 5px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
}

footer .logo {
    padding-left: 40px;
    padding-bottom: 2 0px;
}

footer .column a {
    text-decoration: none;
    margin-left: 20px;
}

footer .column i {
    float: left;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 50%;
    background-color: white;
    padding-top: 6px;
    padding-left: 6px;
    color: black;
}

.column label {
    font-weight: bold;
    color: #efef60;
    font-size: 1.4rem;
}

.column select {
    margin-left: 20px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    height: 40px;
    padding: 5px;
    border: none;
}

.column option {
    padding: 5px;
    font-weight: 300;
}

.column select:focus {
    outline: 4px solid rgba(70, 70, 254, 0.3);
}

.column .ketentuan {
    position: relative;
}

.column ul {
    font-size: 0.85rem;
    margin-top: 30px;
    position: absolute;
    right: 0;
}

.column ul li {
    display: inline;
    position: relative;
    list-style: none;
}

.column ul li a {
    float: left;
    text-decoration: none;
    position: relative;
    margin: 0 15px;
    color: #fff;
}

footer .garis_panjang {
    background-color: #112443;
    width: 100%;
    height: 1px;
    margin-top: 60px;
}

footer p {
    text-align: center;
    color: white;
    font-size: 0.8rem;
    padding: 40px 200px 60px 200px;
    font-weight: 200;
}

footer .column .tiktok {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    float: left;
    margin-left: 20px;
}

footer .nama {
    text-decoration: none;
    color: white;
}

footer .nama:hover {
    text-decoration: underline;
}